table,
tr,
th,
td {
  border-collapse: collapse;
}
table,
tr {
  padding: 2px;
}
th {
  background-color: #e8ebe4;
  text-align: left;
  color: #3b4252;
  font-size: 12px;
  min-width: 200px;
  border: 0.5px solid rgb(137, 131, 131);
}
td {
  background-color: #e8e8e8;
  min-width: 200px;
  border: 0.5px solid rgb(137, 131, 131);
}
tr {
  background-color: white;
}

table {
  table-layout: fixed;
  border: 0.5px solid rgb(137, 131, 131);
}
.table-container{
  overflow-y: auto;
}

.sub-column-heading {
  display: flex;
  font-size: 13px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.columns-container {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid grey;
  padding: 1px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.flex {
  display: flex;
  align-items:center;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 600;
}
.columns-flex{
  display: flex;
  align-items:center;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 600;
  border-bottom:1px solid grey;
}
.class-items-flex{
  display: flex;
  align-items:center;
  margin-left:15px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 600;
}
.batch-items-flex{
  display: flex;
  align-items:center;
  margin-left:30px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 600;
}
.student-items-flex{
  display: flex;
  align-items:center;
  margin-left:55px;
  font-family: sans-serif;
  
  font-size: 13px;
  font-weight: 600;
}

.sub-column-heading div {
  border-right: 1px solid rgb(137, 131, 131);
  width: calc(100% / 3);
  padding: 9px;
  color: rgba(0, 0, 0, 0.6);
}
.border-none {
  border: none !important;
}

